[submodule "ComputerSecurity"]
	path = ComputerSecurity
	url = git@github.com:ChoKyuWon/ComputerSecurity.git
[submodule "SoftwarePractice1"]
	path = SoftwarePractice1
	url = git@github.com:ChoKyuWon/SoftwarePractice1.git
[submodule "Algorithm"]
	path = Algorithm
	url = git@github.com:ChoKyuWon/Algorithm.git
[submodule "ComputerArchitecture"]
	path = ComputerArchitecture
	url = git@github.com:ChoKyuWon/ComputerArchitecture.git
[submodule "ComputerNetwork"]
	path = ComputerNetwork
	url = git@github.com:ChoKyuWon/ComputerNetwork.git
[submodule "DataCommunication"]
	path = DataCommunication
	url = git@github.com:ChoKyuWon/DataCommunication.git
[submodule "DataStructure"]
	path = DataStructure
	url = git@github.com:ChoKyuWon/DataStructure.git
